* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    text-align: center;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #81B9E6;
}

#skip {
    position: absolute;
    transform: translateY(-800%);
    transition: transform 300ms ease-in;
}

#skip:focus {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    transform: translateY(0%);
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#navigation {
    display: none;
}

#nav-flex {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.862);
    position: -webkit-sticky;
    margin-top: 1rem;
    padding: 0;
    top: 0;
    z-index: 100;
    position: sticky;
}

#logo {
    width: 20%;
    padding: 5px;
}

#logo>a>img {
    width: 40%;
    vertical-align: top;
}

#active {
    border-bottom: 2px solid red;
}

.nav-links {
    display: flex;
    margin-right: 5rem;
}

.nav-links>ul {
    width: 50%;
}

nav li {
    list-style-type: none;
}

nav li a {
    color: black;
    text-decoration: none;
    margin: 0rem 3rem;
    font-weight: 600;
}


nav a:hover {
    border-bottom: 2px solid blue;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 2px;
    content: ' ▾';
}

.nav-dropdown {
    position: absolute;
    display: none;
    margin-top: 1.2rem;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-dropdown>li {
    margin-top: 1rem;
    padding: .5rem 0;
    border: thin solid black;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    height: 2rem;
    width: 2.1rem;
}

#hero {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 50rem;
    background-image: url('../images/Parthenon-Acropolis-Athens.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.contact-heading {
    margin: 10rem auto 9rem;
    width: 20vw;
    border-radius: 30px;
    padding: .50rem;
}

.contact-heading h1 {
    color: darkblue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.top-container {
    padding: 3rem;
    background-color: white;
}

.about-p {
    display: flex;
    width: 50vw;
    margin: 2rem auto;
    border-radius: 30px;
}

.about-p p {
    width: 80%;
    margin: 2rem auto;
    text-align: left;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: .3rem;
    width: 10vw;
    margin: 4rem auto 0;
}

.faq-container {
    padding-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.toc-tab-box {
    width: 55vw;
    margin: 2rem auto;
}

.toc-tab-box h3.acc-title {
    background: rgba(174, 223, 239, 0.65);
    border: thin solid black;
    padding: 1.8rem 1.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin: auto;
    margin-bottom: .7rem;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease;
    width: 95%;
}

.toc-tab-box h3.acc-title:hover {
    background: rgba(188, 174, 239, 0.84);
}



.toc-tab-box .acc-content {
    background: rgb(228, 239, 244);
    width: 100%;
    margin: 0 auto .4rem;
    padding: .5rem 5rem .7rem 5rem;
    color: #617693;
    font-size: .8rem;
    position: relative;
    overflow: hidden;
    width: 95%;
}

.accordionItemHeading .circle {
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    background: #122C5F;
    color: #fff;
    margin-right: 15px;
}

.accordionItemHeading .circle span {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
}


.accordionItemHeading h4 {
    color: #053756;
    font-size: 1.3rem;
    transition: all 0.5s ease;
    line-height: 24px;
    font-weight: 400;
    margin: 1rem .2rem;
    cursor: pointer;
    text-align: left;
}

.question {
    width: 100%;
}

.quest .answer {
    border-left: 2px solid #58ABDF;
    border-right: 2px solid #58ABDF;
    border-radius: 0px;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    margin: .5rem 1.2rem;
    padding: .6rem 1.2rem .7rem 2.1rem;
    font-size: .9rem;
    background: rgba(31, 165, 227, 0.229);
    color: black;
}

.acc-content .quest {
    margin: 10px 0px;
}






footer {
    background-color: black;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    #wrapper {
        text-align: center;
    }

    #skip {
        display: none;
    }


    #logo {
        margin-right: 75%;
    }

    #logo>a>img {
        width: 100%;
    }

    nav {
        justify-content: flex-start;
    }

    nav a:hover {
        border-bottom: none;
    }

    #nav-flex {
        flex-direction: column;
    }

    .nav-mobile {
        display: block;
        top: .6rem;
        right: 1.5rem;
    }

    .nav-links {
        display: none;
        width: 100vw;
        margin: 0;
        background-color: #2292BD;
    }

    .nav-links>li {
        margin: 20px 0px;

    }

    .nav-links>li>a {
        padding: 4px 100px;
        margin: 0 auto;

    }

    .nav-dropdown {
        position: static;
        align-content: center;
    }

    .nav-dropdown>li {
        background-color: #84b2c4;
        margin: 0;
        transition: all 300ms ease-in-out;
    }


    nav li {
        list-style-type: none;
        margin: 0rem;
        background-color: #2292BD;
        width: 100%;
    }

    nav li>a {
        padding: 0;
        width: fit-content;
    }

    #hero {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 15rem;
        background-image: url('../images/meteora.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .contact-heading {
        margin: 1rem auto 1.5rem;
        width: 30vw;
    }

    .contact-heading h1 {
        font-size: 1.5rem;
    }

    .about-p {
        display: flex;
        background-color: rgba(101, 108, 148, 0.763);
        width: 70vw;
        margin: 1rem auto;
        border-radius: 30px;
    }

    .about-p p {
        width: 90%;
        background-color: white;
    }

    .toc-tab-box {
        width: 90%;
    }

    .toc-tab-box .acc-content {
        padding: 0;
    }

}


@media screen and (min-width: 799px) {}


#nav-toggle {
    position: relative;
    left: .1rem;
    top: .9rem;
    cursor: pointer;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: .3rem;
    width: 2rem;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -.5rem;
}

#nav-toggle span:after {
    bottom: -.5rem;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}