body {
    background-color: #2760A5;
}

#hero {
    background-image: url('../images/santorini-gb8c0cbd49_1280.jpg');
}

.flex {
    display: flex;
}

form {
    border: thin solid black;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

form>h2 {
    width: fit-content;
    margin: 0 auto;
}

.form-input {
    width: 50%;
    margin: 1rem auto 2rem;
    border: thin solid black;
    background-color: lightskyblue;
    padding-top: .8rem;
    padding-bottom: 2rem;
}

.flex>img {
    width: 50%;
}

input {
    padding: 6px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: left;
}

input:hover {
    box-shadow: 0 0 10px #e6fb04;
}

input:focus {
    box-shadow: 2px 2px 10px darkblue;
}

label {
    width: 140px;
    display: inline-block;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
}

.names {
    display: flex;
    justify-content: center;
}

.names>div {
    margin: 1rem 0;
    width: 100%;
}

input[type="radio"] {
    margin: auto;
}

.radio-quest label {
    text-align: left;
    width: 120px;
    margin: 1px auto;
}

.text {
    margin: 2rem 0;
}

.text > .message {
    width: fit-content;
}

textarea {
    width: 40%;
    font-size: .9rem;
    text-align: left;
    margin: 0 10% 0 auto;
}

.star {
    color: darkred;
}

.star-req {
    color: darkred;
    text-align: right;
    margin-right: 25%;
    margin-bottom: .4rem;
}

.btn {
    width: 8rem;
    margin: 0 .8rem;
    padding: .5rem .8rem;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

#reset {
    background-color: black;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
}

#reset:hover {
    background-color: rgb(112, 8, 8);
    letter-spacing: 2px;
    transition: .5s;
    transform: scale(1.05);
}

#submit {
    background-color: darkgreen;
    color: #fff;
}

#submit:hover {
    background-color: rgb(12, 10, 109);
    letter-spacing: 2px;
    transition: .5s;
    transform: scale(1.05);
}







#signup label.error {
    font-size: .9rem;
    color: rgb(232, 5, 5);
    display: block;
    width: 70%;
    text-align: left;
    margin-left: 20%;
}

#signup input.error,
#signup select.error {
    background: #f4d7d7;
}


footer {
    background-color: black;
    color: white;
    padding: 20px;
}


@media screen and (max-width: 600px) {
    #hero {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/santorini-gb8c0cbd49_1280.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .form {
        padding: 2rem 0;
    }

    .form-input {
        width: 95%;
    }

    input {
        padding: 0;
    }

    #signup label.error {
        font-size: .8rem;
        color: rgb(232, 5, 5);
        display: block;
        padding: 0;
        width: 80%;
        margin-left: 20%;
        text-align: left;
    }

    .names {
        flex-direction: column;
    }

    .names>div {
        margin: 1rem 0;
    }

    .names>div>input {
        width: 40vw;
        margin: 0;
    }

    .radio-quest>h3 {
        width: 100%;
        font-size: 1rem;
        margin: .5rem auto;
    }

    textarea {
        width: 50%;
    }

    .star-req {
        margin-right: 15%;
    }

    #button {
        display: flex;
        flex-direction: column;
    }

}


@media screen and (min-width: 799px) {}


#nav-toggle {
    position: relative;
    left: .1rem;
    top: .9rem;
    cursor: pointer;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: .3rem;
    width: 2rem;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -.5rem;
}

#nav-toggle span:after {
    bottom: -.5rem;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}