* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    text-align: center;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
}

#skip {
    position: absolute;
    transform: translateY(-800%);
    transition: transform 300ms ease-in;
}

#skip:focus {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    transform: translateY(0%);
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#navigation {
    display: none;
}

#nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.862);
    position: -webkit-sticky;
    margin-top: 2rem;
    padding: 0;
    top: 0;
    z-index: 100;
    position: sticky;
    width: 100%;
}

#logo {
    margin-left: 5%;
    margin-top: .20rem;
    padding: .4rem;
}

#logo>img {
    max-width: 50%;
}

.nav-links {
    display: flex;
}

#active {
    border-bottom: 2px solid red;
}

nav li {
    list-style-type: none;
}

nav li a {
    color: black;
    text-decoration: none;
    margin: 0rem 4.5rem;
    font-weight: 900;
}

nav a:hover {
    border-bottom: 2px solid blue;
}

#hero {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 50rem;
    background-image: url('../images/santorini-gb8c0cbd49_1280.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.contact-heading {
    margin-top: 3rem;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(52, 67, 149, 0.294);
    border-radius: 30px;
    padding: .50rem;
}

.contact-heading h1 {
    color: #fff;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
}


.contact-form {
    background-color: rgba(255, 255, 255, 0.419);
    width: 30%;
    margin: 2rem auto;
    padding: 2rem 0;
}

.question {
    margin: .3rem 0;
}


footer {
    background-color: black;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    #wrapper {
        text-align: center;
    }

    #logo {
        margin-left: 1%;
    }

    #logo>img {
        width: 80%;
    }

    .nav-links {
        margin: .5rem auto;
        width: 100%;
    }

    .nav-links>li>a {
        padding: 0%;
        margin: 0 .5rem;
    }

    .nav-links>li>a:hover {
        text-decoration: solid;
        text-decoration-color: blue;
    }



}