* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #03B6F4;
}

#skip {
    position: absolute;
    transform: translateY(-800%);
    transition: transform 300ms ease-in;
    color: black;
    background-color: #fff;
}

#skip:focus {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transform: translateY(0%);
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#navigation {
    display: none;
}

#nav-flex {
    display: flex;
    align-items: center;
    background-color: rgba(135, 206, 250, 0.96);
    position: -webkit-sticky;
    margin-top: 1rem;
    padding: 0;
    top: 0;
    z-index: 100;
    position: sticky;
}

#logo {
    width: 20%;
    padding: 5px;
}

#logo>a>img {
    width: 40%;
    vertical-align: top;
}

#active {
    border-bottom: 2px solid red;
}

.nav-links {
    display: flex;
    margin-right: 5rem;
}

.nav-links>ul {
    width: 50%;
}

nav li {
    list-style-type: none;
    margin-right: rem;
}

nav li a {
    color: black;
    text-decoration: none;
    margin: 0rem 3rem;
    font-weight: 600;
}

nav a:hover {
    border-bottom: 2px solid darkblue;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 2px;
    content: ' ▾';
}

.nav-dropdown {
    position: absolute;
    display: none;
    margin-top: 1.2rem;
    background-color: lightskyblue;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-dropdown>li {
    margin-top: 1rem;
    padding: .5rem 0;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    height: 2rem;
    width: 2.1rem;
}


#nav-toggle {
    position: relative;
    left: .1rem;
    top: .9rem;
    cursor: pointer;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: .3rem;
    width: 2rem;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -.5rem;
}

#nav-toggle span:after {
    bottom: -.5rem;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

#hero {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 90vh;
    background-image: url('../images/makris-gialos.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.contact-heading {
    margin: 10rem auto 9rem;
    width: fit-content;
    border-radius: 30px;
    padding: .50rem;
}

.contact-heading h1 {
    color: #fff;
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-size: 4rem;
    width: fit-content;
    margin: 0 auto;
}

main {
    background-color: #fff;
}

h2 {
    font-size: 2.7rem;
    padding-top: 2rem;
    margin: 0 auto 1rem;
    width: fit-content;
}

img {
    border-radius: 20px;
    transition: .5s ease-in-out;
}

img:hover {
    transform: translate(0%, 0%) scale(1.02);
    object-fit: cover;
    transition: .3s linear;
}

#top-container>p {
    width: 40%;
    margin: 0 auto 2rem;
}

#backtothetop-fixed {
    padding: 1.25rem;
    border: 0;
    border-radius: 20px;
    background-color: darkblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5vw;
}

#backtothetop-fixed:hover {
    background-color: darkred;
    transform: translate(0%, 0%) scale(1.1);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.athens-div {
    display: flex;
    background-color: lightskyblue;
    padding: 5rem 0rem;
    align-items: center;
}

.athens-left {
    flex-direction: column;
    width: 50vw;
}

#main-content h3 {
    font-size: 2rem;
}

#main-content p {
    width: 50%;
    margin: 1rem auto;
}

#main-content h4 {
    font-size: 1.3rem;
}

.todo-list {
    width: fit-content;
    margin: .5rem auto;
    list-style: lower-greek;
}

.todo-list>li {
    text-align: left;
}

.athens-right {
    width: 50vw;
}

.athens-right>img {
    width: 50%;
    box-shadow: -2px 2px 10px black;
}

.athens-right>img:hover {
    box-shadow: -4px 4px 15px black;
}

.salonica-div {
    display: flex;
    flex-direction: row-reverse;
    padding: 5rem 0;
    align-items: center;
}

.salonica-left {
    flex-direction: column;
    width: 50vw;
}

.salonica-right {
    width: 50vw;
}

.salonica-right>img {
    width: 50%;
    box-shadow: 2px 2px 10px black;
}

.salonica-right>img:hover {
    box-shadow: 4px 4px 15px black;
}

.YACSSTooltip {
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
    font-size: .9rem;
    max-width: 250px;
    line-break: auto;
    word-break: normal;
    word-spacing: 0px;
    white-space: normal;
    text-align: center;
    verflow-wrap: normal;
}

.back-image {
    background-image: url('../images/agios-gerasimos.jpg');
    /* Full height */
    height: 45vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom-container {
    min-height: 50vh;
}

#bottom-container>p {
    width: 50%;
    margin: 1rem auto;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}


@media screen and (max-width: 600px) {
    #wrapper {
        text-align: center;
    }

    #skip {
        display: none;
    }


    #logo {
        margin-right: 75%;
    }

    #logo>a>img {
        width: 100%;
    }

    nav {
        justify-content: flex-start;
    }

    nav a:hover {
        border-bottom: none;
    }

    #nav-flex {
        flex-direction: column;
    }

    .nav-mobile {
        display: block;
        top: .6rem;
        right: 1.5rem;
    }

    .nav-links {
        display: none;
        width: 100vw;
        margin: 0;
        background-color: lightskyblue;
    }

    .nav-links>li {
        padding: 10px 0;
        border: thin solid black;
    }

    .nav-links>li>a {
        padding: 4px 100px;
        margin: 0 auto;
    }

    .nav-dropdown {
        position: static;
        align-content: center;
    }

    .nav-dropdown>li {
        background-color: rgb(93, 191, 253);
        margin: 0;
        border: thin solid black;
        padding: 10px 0;
    }

    nav li {
        list-style-type: none;
        margin: 0rem;
        background-color: lightskyblue;
        padding: 0;
        width: 100%;
    }

    nav li>a {
        padding: 0;
        width: fit-content;
    }

    #active {
        border: none;
    }

    #hero {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/makris-gialos.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .contact-heading {
        margin: 1rem auto 1.5rem;
        width: fit-content;
    }

    .contact-heading h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #top-container>p {
        width: 85%;
        text-align: left;
    }

    .athens-div {
        flex-direction: column;
        padding: 5rem 0;
    }

    .athens-left {
        width: 100%;
        margin: 0 auto;
    }

    #main-content h3 {
        font-size: 2rem;
    }

    #main-content p {
        width: 85%;
        margin: 1rem auto;
        text-align: left;
    }

    .athens-right {
        width: 90%;
        margin: 1rem auto;
    }

    .athens-right>img {
        width: 70%;
    }

    .salonica-div {
        flex-direction: column;
    }

    .salonica-left {
        width: 100%;
        margin: 0 auto;
    }

    .salonica-right {
        width: 100%;
        margin: 1rem auto;
    }

    .salonica-right>img {
        width: 70%;
    }

    #bottom-container>p {
        width: 85%;
        text-align: left;
    }


}


@media screen and (min-width: 799px) {}