body {
    background-color: #425F80;
}

#hero {
    background-image: url('../images/Epidaurus.jpg');
}

.back-image {
    background-image: url('../images/nafplio.jpg');
    /* Full height */
    height: 50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    #hero {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/Epidaurus.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }
}
