* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    text-align: center;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
}

#skip {
    position: absolute;
    transform: translateY(-300%);
    transition: transform 300ms ease-in;
}

#skip:focus {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    transform: translateY(0%);
}

nav {
    display: flex;
    margin-right: 5%;
}

#navigation {
    display: none;
}

#nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: -webkit-sticky;
    top: 0%;
    position: sticky;
}

#logo {
    margin-left: 5%;
}

#logo>img {
    margin: 0rem;
    margin-bottom: 0%;
}

.nav-links {
    display: flex;
}

#active {
    border-bottom: 2px solid red;
}

nav li {
    list-style-type: none;
}

nav li a {
    color: black;
    text-decoration: none;
    margin: 0rem 4.5rem;
}

nav a:hover {
    border-bottom: 2px solid blue;
}

#hero {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 46rem;
    background-image: url('../images/johnny-africa-_ZX0S27D3fw-unsplash.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.flex-center {
    margin-top: 8rem;
}

#slogan {
    color: darkblue;
    text-align: center;
    font-size: 2.5rem;
}

#site-title {
    font-weight: 600;
}

#button {
    color: darkblue;
    text-align: center;
    margin-top: 2rem;
}

#hero-button {
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: .5rem 1.1rem;
    border-radius: 30px;
    box-shadow: 2px 3px rgba(84, 80, 80, 0.386);
}

#hero-button:hover {
    background-color: white;
    border: thin solid blue;
    color: blue;
    transition-duration: .5s;
}

#button:active {
    transform:translateY(2px);
    transition-duration: .2s;
}

#hero-button:active {
    box-shadow: none;
    transition-duration: 0s;

}

#intro {
    display: flex;
    background-color: lightcyan;
    padding: 4rem;
}

#intro-left {
    display: flex;
    width: 50%;
}

#map {
    width: auto;
    height: auto;
}

#about-map {
    margin-right: 2rem;
    margin-left: 2rem;
}

#about-map>h2 {
    margin-bottom: 1rem;
}

#about-map>p {
    text-align: left;
}

#intro-right {
    width: 50%;
}

#intro-right>h2 {
    margin-bottom: 1rem;
}

#tour-list {
    background-color: lightsteelblue;
    padding: 4rem;
}

#tour-list>p {
    width: 40%;
    text-align: left;
    margin: auto;
}

#tour-list-flex {
    display: flex;
}

#itinerary {
    width: 50%;
}

#table {
    border-collapse: collapse;
    margin: auto;
    width: 70%
}

caption {
    margin-top: 25px;
    font-weight: bold;
    border: 1px solid black;
    font-size: 18px;
    padding: 10px;
}

td, th {
    border: 1px solid black;
    padding: 10px 15px;
}

.todo {
    width: 60%;
}

#carousel {
    width: 50%;
}

#carousel>p {
    width: 40%;
    text-align: left;
    margin: auto;
}

#testimonials {
    padding: 2rem;
    background-color: #073161;
}






#faq {
    background-color: lightpink;
    padding: 2rem;
}








footer {
    background-color: black;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    #wrapper {
        text-align: center;
    }

    #hero {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 15rem;
        background-image: url('../images/johnny-africa-_ZX0S27D3fw-unsplash.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .flex-center {
        margin-top: 1.5rem;
    }

    #site-title {
        font-size: 1.5rem;
    }

    #button {
        color: darkblue;
        text-align: center;
        margin-top: 1.5rem;
        font-size: .8rem;
    }

    #hero-button {
        font-size: .7rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    #logo {
        margin-left: 1%;
    }

    #logo>img {
        width: 80%;
    }

    .nav-links {
        margin: .5rem auto;
        width: 100%;
    }

    .nav-links>li>a {
        padding: 0%;
        margin: 0 .5rem;
    }

    .nav-links>li>a:hover {
        text-decoration: solid;
        text-decoration-color: blue;
    }

    #intro {
        display: flex;
        flex-direction: column;
    }

    #intro-left {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    #mapGreece {
        width: 80%;
    }

    #intro-right {
        margin: auto;
        width: 90%;
    }

    #tour-list>p {
        width: 90%;
        flex-direction: column;
    }

    #table {
        width: 100%;
        padding: 0%;
        margin: auto;
    }

    #itinerary {
        width: 90%;
        margin: auto;
    }

    #tour-list-flex {
        flex-direction: column;
        margin: auto;
    }

    #carousel {
        width: 90%;
        margin: auto;
    }

    #carousel>p {
        width: 90%;
    }

}