body {
    background-color: #2292BD;
}

#hero {
    background-image: url('../images/home-hero.webp');
}

h2 {
    font-size: 2rem;
}

.button {
    color: darkblue;
    text-align: center;
}

#intro {
    display: flex;
    background-color: lightskyblue;
    padding: 4rem;
}

#intro-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#about-map>h2 {
    margin-bottom: 1rem;
}

#about-map>p {
    text-align: left;
    margin: 0 auto 1rem auto;
    width: 70%;
}

#intro-right {
    width: 50%;
}

#mapGreece {
    width: 50%;
}

#intro-right>h2 {
    margin-bottom: .1rem;
}

.sub-p {
    font-style: italic;
    margin-bottom: 1rem;
}

.greek-vid {
    padding: 0 4rem 4rem 4rem;
}

.back-image {
    background-position: center;
    width: 100%;
    height: 50vh;
    background-image: url('../images/flag.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.image-head {
    color: white;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    margin-top: 8rem;
    background-color: rgba(128, 128, 128, 0.017);
    margin-bottom: 8rem;
}

#tour-list {
    background-color: #fff;
    padding-bottom: 10vh;
}

#tour-list>h2 {
    padding: 2rem;
    margin: auto;
}

#tour-list>p {
    width: 40%;
    text-align: left;
    margin: auto;
    padding-bottom: 2rem;
}

#tour-list-flex {
    display: flex;
    width: 100%;
    margin: 2rem auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.places-box {
    background-color: lightskyblue;
    box-shadow: 2px 2px 10px #000;
    overflow: hidden;
    transition: 500ms ease-in-out;
    border-radius: 15px;
    width: 20%;
    flex-wrap: wrap;
}

.places-box:hover {
    box-shadow: 5px 5px 15px black;
}

.project-image {
    margin: 2rem auto 2rem;
    width: 85%;
    transition: transform 700ms, opacity 300ms ease-in-out;
    border-radius: 10px;
}

.project-item {
    display: block;
}

.project-image:hover {
    transform: scale(1.05);
    opacity: .8;
    box-shadow: 3px 3px 10px black;
}

.project-item:focus .project-image {
    transform: scale(1.1);
    opacity: .8;
}

.tour-button {
    margin: 0 auto;
    width: fit-content;
    padding: .5rem .8rem;
    border-radius: 10px;
    background-color: #073161;
    color: white;
    font-weight: 300;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgb(117, 117, 117);
    transition: all .3s ease-in;
}

.tour-button:hover {
    background-color: white;
    border: thin solid black;
    color: black;
    box-shadow: none;
}

.places-box>p {
    margin: 1rem auto;
    padding: 1rem;
    text-align: left;
}

.back-image2 {
    background-position: center;
    width: 100%;
    height: 45vh;
    background-image: url('../images/athens-view.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}


#testimonials {
    padding: 2rem 0 5rem;
    background-color: #073161;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .places-box {
        margin: 10px;
        width: 40%;
    }

}

@media screen and (max-width: 600px) {
    #skip {
        display: none;
    }

    #logo>a>img {
        width: 100%;
        vertical-align: top;
        padding: 2px;
    }

    nav {
        margin-top: 3vh;
    }

    nav li a {
        text-decoration: none;
        margin: 0 5px;
        padding: .3rem .3rem;
        font-size: .8rem;
    }

    nav li a:hover {
        background-color: white;
        border-radius: 30px;
        color: darkblue;
        border: none;
    }

    .nav-links {
        margin-left: 5%;
        margin-right: 8%;
    }

    #active {
        border: none;
    }

    #hero {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 33vh;
        background-image: url('../images/home-hero.webp');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .contact-heading {
        margin: 1rem auto 1.5rem;
        width: fit-content;
    }

    .contact-heading h1 {
        font-size: 2.5rem;
    }

    .button {
        color: darkblue;
        text-align: center;
        margin-top: .5rem;
        font-size: .8rem;
    }

    #hero-button {
        font-size: .7rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    #intro {
        flex-direction: column;
        padding: 0;
    }

    #intro-left {
        width: 90%;
        margin: 1rem auto;
    }

    #about-map>p {
        width: 90%;
    }

    #mapGreece {
        width: 90%;
    }

    #intro-right {
        margin: 1rem auto 0;
        width: 90%;
    }

    .greek-vid {
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .back-image {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 12rem;
        background-image: url('../images/flag.webp');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .image-head {
        font-size: 2rem;
        letter-spacing: .4rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    #tour-list-flex {
        width: 100%;
    }

    #tour-list>p {
        width: 90%;
        flex-direction: column;
    }

    #itinerary {
        width: 90%;
        margin: auto;
    }

    #tour-list-flex {
        margin: auto;
    }

    .places-box {
        width: 75%;
        margin: 1.2rem auto;
    }
}