.btn.blue {
    background-color: #ffffff;
    color: rgb(21, 17, 243);
    border-radius: 25px;
}

.btn {
    line-height: 45px;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1.5rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
}

.btn.blue:hover {
    background-color: darkblue;
    color: white;
    transform: scale(1.03);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

}

.membership-include-container {
    width: 65vw;
    margin: 40px auto 0;
    color: #fff;
}

.membership-include-container h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.membership-include-container .owl-dots .owl-dot {
    outline: none;
}

.membership-include .item {
    width: 65vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 60px;
}

.membership-include .item h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

.membership-include .item .right {
    width: 95%;
}

.membership-include .item .right .image {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.membership-include .item .right .image .user-photo {
    border-radius: 100%;
}

.membership-include .item .right .image .text {
    font-style: italic;
}

@media screen and (max-width: 900px) {
    .membership-include-container {
        width: 100%;
        margin: auto;
        color: #fff;
    }

    .membership-include .item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .right>h3 {
        margin-top: .8rem;
    }

    .text {
        width: 95%;
    }

}