* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    text-align: center;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
}

#skip {
    position: absolute;
    transform: translateY(-300%);
    transition: transform 300ms ease-in;
}

#skip:focus {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    transform: translateY(0%);
}

nav {
    display: flex;
    margin-right: 5%;
}

#navigation {
    display: none;
}

#hero {
    background: url("images/johnny-africa-_ZX0S27D3fw-unsplash.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20%;
    /* background: url("images/johnny-africa-_ZX0S27D3fw-unsplash.jpg");
    background-size: contain;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;*/
}

#nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: -webkit-sticky;
    top: 0%;
    position: sticky;
}

#logo {
    margin-left: 5%;
}

.nav-links {
    display: flex;
    margin: 0rem .8rem;
}

nav li {
    list-style-type: none;
}

nav li a {
    color: black;
    text-decoration: none;
    margin: 0rem 2.5rem;
    padding: .5rem 1rem;
}

nav a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

#slogan {
    color: darkblue;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#site-title {
    font-size: 2.5rem;
    font-weight: 600;
}

#button {
    margin: auto;
    margin-top: 1.2rem;

}

#hero-button {
    background-color: rgb(62, 65, 211);
    color: white;
    text-decoration: none;
    padding: .5rem 1.2rem;
    border-radius: 30px;
    margin: auto;
}

#hero-button:hover {
    background-color: rgba(62, 64, 211, 0.695);
    border: thin solid blue;
}

#intro {
    display: flex;
    background-color: lightcyan;
    padding: 2rem;
}

#intro-left {
    display: flex;
    width: 50%;
}

#map {
    width: auto;
    height: auto;
}

#about-map {
    margin-right: 2rem;
    margin-left: 2rem;
}

#about-map>h2 {
    margin-bottom: 1rem;
}

#about-map>p {
    text-align: left;
}

#intro-right {
    width: 50%;
}

#intro-right>h2 {
    margin-bottom: 1rem;
}

#tour-list {
    background-color: lightsteelblue;
    padding: 2rem;
}

#tour-list>p {
    width: 40%;
    text-align: left;
    margin: auto;
}

#tour-list-flex {
    display: flex;
}

#itinerary {
    width: 50%;
}

#table {
    border-collapse: collapse;
    margin: auto;
    width: 70%
}

caption {
    margin-top: 25px;
    font-weight: bold;
    border: 1px solid black;
    font-size: 18px;
    padding: 10px;
}

td, th {
    border: 1px solid black;
    padding: 10px 15px;
}

.todo {
    width: 60%;
}

#carousel {
    width: 50%;
}

#carousel>p {
    width: 40%;
    text-align: left;
    margin: auto;
}

#testimonials {
    background-color: lightgreen;
    padding: 2rem;
}

#faq {
    background-color: lightpink;
    padding: 2rem;
}








footer {
    background-color: black;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    #wrapper {
        text-align: center;
    }

    #slogan {
        width: 90%;
    }

    #site-title {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
    }

    #intro {
        display: flex;
        flex-direction: column;
    }

    #intro-left {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    #mapGreece {
        width: 80%;
    }

    #intro-right {
        margin: auto;
        width: 90%;
    }

    #tour-list>p {
        width: 90%;
        flex-direction: column;
    }

    #table {
        width: 100%;
        padding: 0%;
        margin: auto;
    }

    #itinerary {
        width: 90%;
        margin: auto;
    }

    #tour-list-flex {
        flex-direction: column;
        margin: auto;
    }

    #carousel {
        width: 90%;
        margin: auto;
    }

    #carousel>p {
        width: 90%;
    }

}